body {
	margin: 0px;
	padding: 0px;
}

#header {
	background-color: grey;
	height: 30px;
	font: 20px Arial, Helvetica, sans-serif;
}


#header a {
	text-decoration: none;
	color: white;

}
#header a:visited {
	text-decoration: none;
	color: white;

}

#contentArea {
	background-color: #c4f5ff;
	width: 900px;
	height: 750px;
	position: relative;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
}

#contentArea h1 {
	font: 40px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: #0385ff;
	color: #ffffff;

}

.contentColumn {
	float: left;
	position:relative;
	padding: 0;
	margin-left: 24px;
	margin-top: 26px;
	background-color: #ffffff;
	width: 415px;
	height: 650px;
	border-radius: 7px;
}

.contentColumn h2 {
	font: 2em Arial, Helvetica, sans-serif;
	height: 40px;
	margin-top: 0px;
	background-color: #5a5a5a;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #ffffff;
	text-align: center;

}

.contentColumn pre {
	font: 1em Arial, Helvetica, sans-serif;
	color: #000000;
	position: relative;
	margin-left: -90px;
	width: 487px;
	word-wrap: break-word; 

}

.contentColumn pre>em {
	display: block;
	float: right;
	margin-right: 262px;
	font-weight: bold;
	padding-top: 20px;

}

.contentColumn pre>a, a:visited {
   text-decoration: none;
   color: #090fff;
   font-weight: bold;
}

.contentColumn pre>a:hover {
	text-decoration: underline;
}


